@font-face {
    font-family: "Gilroy";
    src: url("assets/fonts/subset-Gilroy-Light.woff2") format("woff2"),
      url("fonts/subset-Gilroy-Light.woff") format("woff");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("assets/fonts/subset-Gilroy-ExtraBold.woff") format("woff2"),
      url("assets/fonts/subset-Gilroy-ExtraBold.woff2") format("woff");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("assets/fonts/subset-HomepageBaukasten-Book.woff2") format("woff2"),
      url("assets/fonts/subset-HomepageBaukasten-Book.woff") format("woff");
    font-style: normal;
    font-display: swap;
  }

  @media screen and (min-width: 676px) {
    .login {
      max-width: 350px; /* New width for default modal */
    }
}

@media screen and (min-width: 500px) {
  .signup {
    max-width: 600px; /* New width for default modal */
  }
}

body {
    font-family: "Gotham", monospace;
    overflow-x: hidden;
}
.background {
  margin-top: -150px;
}
.title {
  color: #C5DB6F;
}
.title2 {
  color:#0C5A4D;
  font-family: "Gilroy-Bold";
}
.nav-link {
  color: black !important;
  position: center;
}
.nav-link:hover, .nav-link:active, .nav-link:focus, .nav-link:active{
  color: #A5C046 !important;
}
.navbar .nav-item .btn {
    letter-spacing: 0.05rem;
    border-radius: 20px;
}
.btn:hover {
  background-color: rgba(197,219,111,.7);
}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:active {
  color: #A4C246;
}
.modal-content {
  color: #0C5A4D;
  border-radius: 30px;
}
.modal-title {
  font-family: "Gilroy-Bold", monospace;
  padding-left: 20px;
}
button {
  background-color: #0C5A4D;
  color: white;
  border: 0;
  border-radius: 7px;
  padding: 7px;
}
.button:hover, .button:active, .button:focus, .button:active {
  background-color: rgba(197,219,111,.7);
}

.img-fluid {
  border-radius: 20px;
}
.button1 {
  font-family: "Gilroy-Bold", sans-serif;
  text-transform: uppercase;
  background-color: #343434;
  color: #A4C246;
  border: 0;
  border-radius: 25px;
}
.button1:hover, .button1:active, .button1:focus, .button1:active {
  background-color: #A4C246;
  color: #343434;
}
.customer {
  background-color: rgba(164, 194, 70, .4);
}
.card {
  border: 0;
  background-color:rgba(164, 194, 70, .01);
  border-radius: 20px;
}
.card-title {
  color: #0C5A4D;
}
.subscription {
background-color: #C5DB6F;  
}
h1 {
  font-family: "Gilroy-Bold";
}
.team {
  font-family: "Gilroy-Bold";
  color: #C5DB6F;
}